@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize";
/* -------------------------------------------------*/
/* BASIC SETUP */
/* -------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* -------------------------------------------------*/
/* REUSABLE COMPONENTS */
/* -------------------------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 300%;
  word-spacing: 4px;
  letter-spacing: 1px;
  -webkit-delay-animation: 9s;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* -------------------------------------------------*/
/* HEADER */
/* -------------------------------------------------*/

/* Main nav */

.main-nav {
  float: right;
  list-style: none;
  margin-right: 20px;
  margin-top: 35px;
  font-size: 80%;
  -webkit-animation-delay: .5s;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li:hover, .main-nav li:active {
  cursor: pointer;
  border-bottom: 2px solid #009eaf;
}

.dropdown {
  float: right;
  text-align: center;
  color: #fff;
  position: relative;
  display: inline-block;
  li {
    list-style: none;
  }
  .dropbtn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 100%;
    font-weight: 300;
    padding: 15px;
  }
  .dropbtn:hover, .dropbtn:active {
    color: #fff;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  .dropdown-content li {
    display: block;
  }
  .show {display:block;}
}

/* Sticky Navi */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #009eaf;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 18px;
 }

.sticky .main-nav {
  float: right;
  list-style: none;
  margin-top: 15px;
}

.sticky .main-nav li  {
  padding: 15px 0;
  color: #009eaf;
}


/* Hero Box */

header {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url("ocean1.jpg");
  background-size: cover;
  height: 700px;
  background-position: center;
  background-attachment: fixed;
  h3 {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    -webkit-animation-delay: 1.5s;
  }
  h1 {
    -webkit-animation-delay: 1s;
  }
}

.hero-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-box h1, h3 {
  color: #fff;
}

.herobox .herobox-h3 {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
}

/* -------------------------------------------------*/
/* WELCOME SECTION */
/* -------------------------------------------------*/

.welcome-section {
  text-align: center;
  margin-bottom: 70px;
  color: #009eaf;
}

.social-box {
  padding: 30px;
}

.social-box h2 {
  position: relative;
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgba(1, 69, 255, 0.5);
}

.social-box h2:after {
  content: "We speak social, local, and mobile";
  position: absolute; left: 0; top: 5px;

  color: rgb(0, 160, 175);
}

.social-box h3 {
  color: #095256;
  font-size: 150%;
}


.social-box span {
  color: #F8E74C;
  font-weight: 400;
  font-style: italic;
  font-weight: bold;
}

.welcome1 {
  @include grid-column(6);
  margin-top: -20px;
}

.welcome2 {
  @include grid-column(6);
  margin-top: 55px;
}

/* -------------------------------------------------*/
/* SERVICES SECTION */
/* -------------------------------------------------*/


.services-section {
  h2 {
    color: #009eaf;
    text-align: center;
    font-size: 200%;
    border-bottom: 1px solid #009eaf;
}

  .col1, .col2, .col3 {
    @include grid-column(4);
    padding: 10px;
    box-shadow: 10px 10px 10px #929293;
    margin-bottom: 100px;
  }
  .branding, .social, .design {
    background-color: rgba(255, 255, 255, 0.65);
    height: 250px;
    margin-top: 10px;
    transition: background-color 0.1s;
  }
}

.services-section {
  .branding:hover, .social:hover, .design:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.services-section {
  .col1 {
    background-image: url("office.jpg");
    background-size: cover;
    height: 300px;
  }

  .col2 {
    background-image: url("mobile.jpg");
    background-size: cover;
    height: 300px;
  }

  .col3 {
    background-image: url("design.jpg");
    background-size: cover;
    height: 300px;
  }
  h3 {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    color: #009eaf;
  }
}

/* -------------------------------------------------*/
/* PROJECT SLIDER */
/* -------------------------------------------------*/

.project-slider-section {
  background-color: #001f23;
  color: #009eaf;
  h2 {
  font-size: 200%;
  border-bottom: 1px solid #009eaf;
  }
}
.slider-container {
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  min-height: 500px;
}

.project-slider {
  width: 100%;
  overflow: hidden;
  height: 500px;
  position: relative;
}

.project-slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
}

.project-slider li {
padding: 0;
margin: 0;
width: 33.333333%;
height: 100%;
overflow: hidden;
position: absolute;
top: 0;
bottom: 0;
}

.project-slider li .style_img {
  width: 100%;
  border: none;
  min-height: 100%;
}

.project-slider button {
  position: absolute;
display: block;
box-sizing: border-box;
border: none;
outline: none;
top: 0;
bottom: 0;
width: 20%;
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
margin: 0;
padding: 0;
text-align:center;
opacity: 0;
z-index: 2;
}

.project-slider button.prev {
left: 0;
}

.project-slider button.next {
right: 0;
}

.project-slider button:hover, .slider button:active {
opacity: 1.0;
}

.project-slider .slider-content {
z-index: 3;
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 3em;
box-sizing: border-box;
background-color: rgba(0, 0, 0, 0.5);
color: #fff;
line-height: 3em;
padding: 0 1em;
font-size: 1.5em;
}

.project-slider .slider-content a {
color: inherit;
}


/* -------------------------------------------------*/
/* FORM */
/* -------------------------------------------------*/

.section-form {
  background-color: #a9f0fa;
  color: #001f23;
  h2 {
  font-size: 200%;
  border-bottom: 1px solid #009eaf;
  }

  .contact-form {
    background-color: #bdc3c7;
    padding: 10px;
  }
  .formBtn {
    text-align: center;
    background-color: rgba(0, 158, 175, 0.1);
    color: #001f23;
    font-weight: 300;
    font-size: 110%;
    border: 2px solid #009eaf;
    border-radius: 10px;
    padding: 8px;
    transition: translate background-color 2s;
  }
  .formBtn:hover, .formBtn:active {
    background-color: #009eaf;
  }
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

/* -------------------------------------------------*/
/* ANIMATIONS */
/* -------------------------------------------------*/

.js--wp-1, .js--wp-2, .js--wp-3, .js--welcome1, .js--welcome2, .js--wp-contact {
  opacity: 0;
}

.js--wp-1.animated, .js--wp-2.animated, .js--wp-3.animated, .js--welcome1.animated, .js--welcome2.animated, .js--wp-contact {
  opacity: 1;
}


/* -------------------------------------------------*/
/* MEDIA QUERIES */
/* -------------------------------------------------*/

@media only screen and (max-width: 1024px) {
  .main-nav {
    display: none !important;
  }
  .sticky {
    display: none !important;
  }
  h1 {
    text-align: center;
    vertical-align: center;
  }
  h3 {
    text-align: center;
    vertical-align: middle;
  }
  .welcome-section {
    display: none;
  }
  .services-section {
    display: none !important;
  }
  .services-section-mobile {
    padding: 0;
    h2 {
    font-size: 200%;
    border-bottom: 1px solid #009eaf;
    }
    text-align: center;
    .social-box {
      display: inline;
    }
    .social-box h2 {
      border: none;
      color: rgba(1, 69, 255, 0.8);
    }
    .social-box h2:after {
      display: none;
    }
    color: #009eaf;
  }
  .row {
    max-width: 1024px;
  }
  header {
    max-height: 500px;
  }
  .hero-box {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-box {
    padding-left: 10%;
  }
  .dropdown {
    display: none !important;
  }
  .services-section-mobile {
    display: none !important;
  }
}
